In [79]:
import pandas as pd
import numpy as np

In [80]:
#test.txt不存在则自动创建，存在则打开,w是只写模式打开
f=open('test.txt','w')
f.write("python""\n")
f.close()

In [81]:
f=open('test.txt')
f.read()

'python\n'

In [82]:
f.close()

In [83]:
#打开test.txt,a是行追加模式打开
f=open("test.txt","a")
f.write("hdl""\n")

4

In [84]:
f=open('test.txt')
f.read()

'python\nhdl\n'

In [85]:
f.readlines()

[]

In [86]:
f.close()

In [87]:
csv=pd.read_csv('summary.csv')

In [88]:
csv.head(2)

,Type,TypeName,Years,TotalNum,TotalMoney,ARR1Num,ARR3Num,ARRNum,ARR1Money,ARR3Money,ARRMoney
0,total,total,2017,8376,1.285920e+09,51.0,126.0,143.0,11280149.0,29037324.0,29843142.0
1,total,total,2018,8376,1.285920e+09,78.0,157.0,191.0,16450315.0,41830797.0,44094802.0

In [89]:
g=open('test.csv','w')
g.write("python\n""2019\n""hdl\n")
g.close()

In [92]:
#用with方法打开文件，就不用再重复close()文件
with open("summary.csv",encoding='UTF-8') as f:
    for i in f:
        print(i)

AttributeError: '_io.TextIOWrapper' object has no attribute 'head'

In [109]:
s1 = "Line1-abcdef \nLine2-abc \nLine4-abcd"
s1.split()

['Line1-abcdef', 'Line2-abc', 'Line4-abcd']

字符串操作

In [115]:
s2='a b c'

In [116]:
#split分割字符串
s2.split()

['a', 'b', 'c']

In [121]:
txt = "Google#Runoob#Taobao#Facebook"
x = txt.split("#", 2)
x

['Google', 'Runoob', 'Taobao#Facebook']

In [122]:
"Text Mining with Python".find("with")

12

In [124]:
（1，2，3）

SyntaxError: invalid character in identifier (<ipython-input-124-6c9395ca4303>, line 1)